#searchbar {
  margin: auto;
  text-align: center;
  position:relative;
  top: 25vh;
}
.mdl-navigation__link{
font-family: Helvetica;

}
#logo {
  margin-right: 20px;
}
#biglogo{
  width: 30vw;
  height: 30vh;

}

#searchbarinput{
  z-index: 10;
}