* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Roboto', Helvetica, sans-serif;
  }
  
  .topbar{
    float: left;
    display: block;
    background-color: rgb(255, 217, 109, 0);
    padding-top: 1vw;
    padding-bottom: .8vw;
    font-size: 1vw;
    font-weight: 300;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-left: 0vw;
    margin-top:0;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: rgb(50, 50, 50);
  }
  
  a{
    transition: background-color 0.5s ease-in-out;
  }
  
  a:hover{
    background-color: rgb(255, 217, 109, 1.0);
  }
  
  #signin{
    float: right;
  }
  
  #barlogo {
    width: auto;
    height: 3vw;
    transform: translate(0,0);
    background-color: rgb(255, 217, 109, 0);
    padding: 0;
    margin-top: 0;
    margin-left:0;
  }
  
  #topbardiv{
    background-color: rgb(255, 203, 60);
    width: 100vw;
    height: 3vw;
    margin-left: 0;
    /*border-bottom: rgb(50, 50, 50) solid 3px;*/
    box-shadow: 0px 2px 5px grey;
  
  }
  
  body{
    position: relative;
    margin:0;
    width: 100vw;
    min-height: 105vh;
  }
  
  #bottombardiv{
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    background-color: rgb(94, 94, 94);
    width: 100vw;
    height: 3vw;
    margin-left: 0;
  }
  
  .bottombar {
    float: left;
    display: block;
    background-color: rgb(255, 217, 109, 0);
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 0.83333vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-left: 0vw;
    margin-top:0;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: rgb(50, 50, 50)
  }

  .resultCard {
      margin-left: 2.5vw;
      width: 30vw;
      height: auto;
      background-color: rgb(255, 217, 109, 1.0);
      border-radius: 1vw;
      float: left;
      margin-top: 2.5vw;
      box-shadow: 4px 4px 10px grey;
  }

  .resultImage {
      width: 24vw;
      margin-top: 3vw;
      margin-left: 3vw;
      height: auto;
      clip: rect(0px,50px,100px,0px);
      border-radius: 1vw;
  }

  .resultName {
      width: 30vw;
      text-align: center;
      margin-top: 1vw;
      padding-bottom: 1vw;
      font-size: 2vw;
  }

  #resultsBox {
      min-height: 50vh;
      height: auto;
      width: 100vw;
      margin-left: 0;
  }

  #searchedSearchBar {
    float: left;
    width: 68.5vw;
    margin-left: 2.5vw;
    height: 4vw;
    border-radius: 2vw;
    background-color: rgb(255, 217, 109, 1.0);
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 2.5vw;
    font-size: 2vw;
  }

  #searchedFilterBar {
    float: left;
    width: 20vw;
    margin-left: 2.5vw;
    height: 4vw;
    border-radius: 2vw;
    background-color: rgb(255, 217, 109, 1.0);
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 2.5vw;
    font-size: 2vw;

}